@{
    ViewData["Title"] = "Home Page";
}

<html>


<head>
    <title>small business page </title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <link href="css/style.css" type="text/css" rel="stylesheet">

    <script src="js/bootstrap.min.js"></script>

    <script src="js/jquery-3.2.1.js"></script>

</head>


<body>

    <!-- header -->
    <header>

        <!-- main container -->
        <div class="container">

            <!-- single row -->
            <div class="row">

                <!-- col-left -->
                <div class="col-md-8">

                    <img class="img-fluid" src="~/crm.jpg" alt="Responsive image">

                </div>
                <!-- col-right -->
                <div class="col-md-4">

                    <h1>PoV</h1>
                    <p>You have a business to run. That means you have customers to manage and, if you’ve done things correctly, you have a lot of them! Naturally, you need a customer relationship management (CRM) system to help..</p>


                </div>

            </div>


        </div>

    </header>
    <div class="clear-fix">


    </div>

    <!-- seperator -->
    <section>

        <!-- main container -->
        <div class="container">

            <!-- single row -->
            <div class="row">

                <!-- col full -->
                <div class="col-md-12">

                    <hr>
                </div>


            </div>

        </div>


    </section>

    <!-- features -->
    <section>

        <!-- main container -->
        <div class="container">

            <!-- single row -->
            <div class="row">

                <!-- col-1 -->
                <div class="col-md-4">

                    <h2>Maintain database</h2>
                    <p> Allows your entire sales org to keep all prospect information — over any duration of time — in a central database. This allows for quick cross-team access as well as the ability to easily manage all information via a shared location.</p>
                    

                </div>


                <!-- col-2 -->
                <div class="col-md-4">

                    <h2>Manage communication</h2>
                    <p>All communication, both internal (rep to rep) and external (rep to prospect), can be managed .This allows reps to track all parts of the buyer's journey, including every interaction, email, phone call, and more.</p>
                    

                </div>

                <!-- col-3 -->
                <div class="col-md-4">

                    <h2>Automate data entry</h2>
                    <p> Your team will never have to spend time logging emails, calls, meetings, and interactions — all of this information will be automatically collected and aggregated within the system.</p>
                    

                </div>


            </div>


        </div>



    </section>
    <div class="clear-fix"></div>

    <!-- footer -->
    <footer>

        <!-- main container -->
        <div class="container">

            <!-- single row -->
            <div class="row">

                <!-- col-full -->
                <div class="col-md-12">

                    


                </div>


            </div>


        </div>


    </footer>

</body>


</html>
